.navStripe {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  background-color: var(--color-black);
  color: var(--color-grey);
}
.navStripe a {
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--color-black);
  padding: 0.5em 3em;
  margin: 0.25em;
  background-color: var(--color-yellow);
  color: var(--color-black);
  transition: 0.1s all;
}
.filterWrap {
  padding: 0em 1.5em;
}
h2 {
  font-size: 3em;
  margin: 0em auto;
  font-weight: 300;
  font-family: "IBM Plex Mono", monospace;
  border-bottom: 3px solid var(--color-black);
  margin-bottom: 0.5em;
}

/* filterWrap / Buttons */
.filterWrap {
  background-color: var(--color-yellow);
  color: var(--color-black);
  padding-bottom: 0.25em;
}
.filterWrap button {
  display: inline-flex;
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--color-black);
  margin: 0.25em 0.5em 0.25em 0.25em;
  text-align: left !important;
  background-color: var(--color-grey);
  color: var(--color-black);
  border-radius: 0;
  justify-content: flex-start;
  transition: 0.1s all;
  align-items: baseline;
  flex-direction: row;
  gap: 1em;
}
.filterWrap button.active,
.filterWrap button:link,
.filterWrap button:visited,
.filterWrap button:active,
.filterWrap button:hover {
  transition: 0.2s all;
  box-shadow: 4px 4px 0px 0px var(--color-black);
}
.filterWrap button span {
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--color-black);
  width: max-content;
  padding: 0.15em 0.5em;
}

.filterWrap button:nth-child(1) span {
  background-color: var(--color-blue);
}

.filterWrap button:nth-child(2) span {
  background-color: var(--color-yellow);
}

.filterWrap button:nth-child(3) span {
  background-color: var(--color-green);
}
.filterWrap button:nth-child(4) span {
  background-color: var(--color-cream);
}

.filterWrap button:nth-child(5) span {
  background-color: var(--color-black);
  color: var(--color-grey);
}

.filterWrap button:nth-child(6) span {
  background-color: var(--color-red);
}
