@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&family=Inter:wght@400;600;700&family=Oswald:wght@300;400;500&display=swap");

:root,
#root,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
  text-align: unset;
  display: initial !important;
  --color-black: #272727;
  --color-cream: #fafaf0;
  --color-grey: #e1e8ed;
  --color-yellow: #ffdb59;
  --color-pink: #aab8c2;
  --color-blue: #49a6fc;
  --color-green: #28eca5;
  --color-red: #ff5959;
  --color-white: #f5f8fa;

  --font-ibm: {
    "font-family": "IBM Plex Mono", monospace;
  }
  --font-inter: {
    "font-family": "Inter", sans-serif;
  }
  --font-oswald: {
    "font-family": "Oswald", sans-serif;
  }
}


.navStripe {
  font-family: var(--font-ibm);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  background-color: var(--color-black);
  color: var(--color-grey);
}
.navStripe a {
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--color-black);
  padding: 0.5em 3em;
  margin: 0.25em;
  background-color: var(--color-yellow);
  color: var(--color-black);
  transition: 0.1s all;
}
.navStripe a:hover {
  transition: 0.1s all;
  color: var(--color-black);
  background-color: var(--color-green);
}
.filterWrap {
  padding: 0em 1.5em;
}
h2 {
  font-size: 3em;
  margin: 0em auto;
  font-weight: 300;
  font-family: "IBM Plex Mono", monospace;
  border-bottom: 3px solid var(--color-black);
  margin-bottom: 0.5em;
}

/* filterWrap / Buttons */
.filterWrap {
  background-color: var(--color-yellow);
  color: var(--color-black);
  padding-bottom: 0.25em;
}
.filterWrap button {
  display: inline-flex;
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--color-black);
  margin: 0.25em;
  text-align: left !important;
  background-color: var(--color-grey);
  color: var(--color-black);
  border-radius: 0;
  justify-content: flex-start;
  transition: 0.1s all;
  align-items: baseline;
  flex-direction: row;
  gap: 1em;
}
.filterWrap button span {
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--color-black);
  width: max-content;
  padding: 0.15em 0.5em;
  border-radius: 50%;
}

.filterWrap button:nth-child(1) span {
  background-color: var(--color-blue);
}

.filterWrap button:nth-child(2) span {
  background-color: var(--color-yellow);
}

.filterWrap button:nth-child(3) span {
  background-color: var(--color-green);
}
.filterWrap button:nth-child(4) span {
  background-color: var(--color-cream);
}

.filterWrap button:nth-child(5) span {
  background-color: var(--color-black);
  color: var(--color-grey);
}

.filterWrap button:nth-child(6) span {
  background-color: var(--color-red);
}
