.card {
  border: 2px solid var(--color-black);
  max-width: max-content;
  margin: 0.5em;
  background-color: var(--color-white);
  cursor: pointer;
  transition: 0.2s all;
}
.card:hover {
  transition: 0.2s all;
  box-shadow: 8px 8px 0px 0px var(--color-black);
}
.cardBranding {
  display: flex;
  padding: 0.5em 1.5em;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--color-green);
  gap: 1em;
}
.cardBranding img {
  background-color: var(--color-white);
  padding: 0.5em;
  border-radius: 50%;
  border: 2px solid var(--color-black);
}

.investors {
  display: flex;
}

.pitchInfo {
  font-family: "IBM Plex Mono", monospace;
  padding: 0.5em 1.5em;
  border-top: 2px solid var(--color-black);
}
.episodeNumber {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-weight: 500;
}
.pitchInfo div small {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.pitchInfo h3 {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  margin: 0;
  display: block;
  z-index: 0;
  position: relative;
  width: max-content;
  /* background-image: linear-gradient(
    var(--color-white) 60%,
    var(--color-green) 55%
  ); */
}
.pitchInfo h3:after {
  content: "";
  background-color: var(--color-green);
  height: 25px;
  position: absolute;
  z-index: -1;
  top: 0.5em;
  left: 9%;
  width: 80%;
  rotate: -9deg;
}
.pitchInfo p {
  font-family: "IBM Plex Mono", monospace;
  margin: 1em 0 0.75em;
}
.askingPrice,
.deal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.askingPrice p,
.deal p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
