:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black);
    background-color: var(--color-cream);
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .mainListWrap {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .mainListWrap {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .mainListWrap {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .mainListWrap {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .mainListWrap {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .mainListWrap {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
